.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8%;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.navLinks {
    display: flex;
    gap: 2rem;  
}

.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLinks a:hover {
    color: #5A3E36;
}

